body {
    min-width: 320px; /* Considering the smallest device width */
    background-color: #4c4c4c;
}

.img-fluid {
    border-radius: 5px;
}

.nav-item {
    position: relative;
    transition: background-color 0.5s ease;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: 20px;
}

.nav-item:hover {
    background-color: #5a5a5a;
}

.navbar-brand {
    font-size: xx-large;
    color: aliceblue;
}
.navbar{
    padding:0px
}


.nav-link {
    font-size: larger;
    color: aliceblue;
}

/* Specific Classes for Text Center Div */
.text-center.intro-title {
    padding-left: 50px;
    padding-right: 50px;
    margin: 100px;
}

.welcome-text {
    color: aliceblue;
}
.intro-text{
    margin: 50px;
}
.group-name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(226, 215, 113);
}
.main-body{
    margin: 50px;
}

.content-text {
    margin: 20px;
    color: antiquewhite;
}


/* Media Queries for Responsive Design */
@media (max-width: 575.98px) {
    /* Extra small devices */
    body {
        min-width: 575px;
    }
    .logo{
        max-width: 100px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* Small devices */
    body {
        min-width: 576px;
    }
    .logo{
        max-width: 100px;
    }
    .nav-item {
        position: relative;
        transition: background-color 0.5s ease;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        background-color: #808080;
        margin: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* Medium devices */
    body {
        min-width: 768px;
    }
    .logo{
        max-width: 100px;
    }
    .nav-item {
        position: relative;
        transition: background-color 0.5s ease;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        background-color: #808080;
        margin: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Large devices */
    body {
        min-width: 992px;
    }
    .logo{
        max-width: 125px;
    }
    .nav-item {
        position: relative;
        transition: background-color 0.5s ease;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        margin: 10px;
    }
}

@media (min-width: 1200px) {
    /* Extra large devices */
    body {
        min-width: 1200px;
    }
    .intro-text{
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        flex-direction: row;
    }
    .logo{
        max-width: 150px;
    }
    .nav-item {
        position: relative;
        transition: background-color 0.5s ease;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        margin: 10px;
    }
}
